{% extends "base.html" %}

{% block content %}

<div class="blog-container">
    <h1 class="blog-title">Contact</h1>
    <div class="about-content-dark">
        <p>The best way to contact me is via these channels.</p>
        <div class="contact-links" style="display: flex; flex-direction: column; gap: 2rem; margin-top: 3rem;">

            <div class="contact-method">
                <div class="skill-tag"
                    style="display: inline-block; margin-bottom: 0.5rem; background: transparent; padding-left: 0;">
                    email
                </div>
                <div>
                    <a href="mailto:mauro.busso12@gmail.com" class="company-name">mauro.busso12@gmail.com</a>
                </div>
            </div>

            <div class="contact-method">
                <div class="skill-tag"
                    style="display: inline-block; margin-bottom: 0.5rem; background: transparent; padding-left: 0;">
                    linkedin
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/maurobusso/" target="_blank"
                        class="company-name">linkedin.com/in/maurobusso/</a>
                </div>
            </div>

            <div class="contact-method">
                <div class="skill-tag"
                    style="display: inline-block; margin-bottom: 0.5rem; background: transparent; padding-left: 0;">
                    github
                </div>
                <div>
                    <a href="https://github.com/maurobusso" target="_blank"
                        class="company-name">github.com/maurobusso</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}